*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-size:1em;
    font-family:sans-serif;
}

.wrapping{
    width:500px;
    margin:auto;
    padding:40px;
}
input{
    width:100%;
    padding:15px;
    margin:10px 0 0;
    font-size:1em;
}
button{
    padding:10px 20px;
    margin-top:10px;
}
#response {
    margin-top:10px;
}