.login-container{
    width:300px;
    margin:10% auto;
    padding: 20px;
    background:white;
    box-shadow:0 0 10px rgba(0,0, 0, 0.1);
    text-align:center;
    border-radius:10px;
}
.login-container input{
    width: 100%;
    margin: 10px 0;
    padding: 10px
}