.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: #333;
    color: white;
}
.nav-links{
    display: flex;
    gap: 1rem;
    list-style: none;
}
.hamberger{
    display:none;
    cursor: pointer;
}
@media(max-width: 768px){
    .nav-links{
        display: none;
        flex-direction: column;

    }
    .hamberger{
        display: block
    }
}